{% extends 'base.html' %}

{% block head %}

{% if refresh == True %}
<meta http-equiv="refresh" content="5">
{% endif %}

{% if refresh == False %}
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>
{% endif %}

<title> {{ title }} </title>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <!-- Start nav -->
        <div class="col-md-2 col-xs-12 p-0">
            <nav class="navbar navbar-dark d-block">
                <a class="navbar-brand" href="{{ url_for('index') }}">TTN Analysis Helper</a>
                <form method="POST">
                    {% if back_button != True %}
                    <div class="form-group">
                        <label for="userpass" class="text-white">Enter your username:</label>
                        <input id="userpass" name="userpass" class="form-control mr-sm-2" type="search"
                            placeholder="{{ username }}" aria-label="">
                    </div>
                    {% endif %}
                    <div class="form-group">
                        {% if success == 'success' %}
                        <button id="stop" name="stop" class="form-control btn btn-danger" type="submit" value="Stop"
                            {{ stop_connect }}>Stop
                            Connect</button>
                        <button id="save" name="save" class="form-control btn btn-dark mt-1" type="submit" value="Save"
                            {{ save_button }}>Save
                            Information</button>
                        <button id="stop_back" name="stop_back" class="form-control btn btn-dark mt-1" type="submit"
                            value="Stop_Back">Go Back</button>
                        {% else %}
                        {% if back_button != True %}
                        <button class="form-control btn btn-light" type="submit">Connect</button>
                        {% endif %}
                        {% endif %}
                    </div>
                </form>
                {% if back_button == True %}
                <input class="form-control btn btn-light my-3" type="button" value="Go Back"
                    onclick="history.back(-1)" />
                {% endif %}

                <a name="adduser" id="adduser" class="form-control btn btn-light" href="{{ url_for('add_user') }}">Add
                    User</a>

                <a name="visualize" id="visualize" class="form-control btn btn-light mt-3"
                    href="{{ url_for('visualize') }}">Visualizations</a>

            </nav>
        </div>
        <!-- End nav -->
        <div class="col-md-10 col-xs-12">
            <p class="h4 py-4 TEXT-UPPERCASE"> {{ response }} </p>
            <!-- addUser user form -->
            {% if adduser == True %}
            <form method="POST">
                <div class="form-row">
                    <div class="col">
                        <input id="new_username" name="new_username" type="text" class="form-control"
                            placeholder="Username">
                    </div>
                    <div class="col">
                        <input id="new_passphrase" name="new_passphrase" type="text" class="form-control"
                            placeholder="TTN Passphrase">
                    </div>
                    <div class="col">
                        <input id="new_broker" name="new_broker" type="text" class="form-control"
                            placeholder="TTN Broker">
                    </div>
                    <div class="col">
                        <input id="new_topic" name="new_topic" type="text" class="form-control" placeholder="TTN Topic">
                    </div>
                    <div class="col">
                        <input id="submit_new_user" name="submit_new_user" type="submit" class="btn btn-success"
                            value="Check">
                    </div>
                </div>
            </form>
            {% endif %}
            {% if new_username == "" or new_passphrase == "" or new_broker == "" or new_topic == "" %}
            <p class="text-danger p-2"> All fields should be filled. </p>
            {% endif %}
            <p class="text-danger p-2">{{ report }}</p>
            <!-- End of addUser form-->
            {% if success == 'success' and empty != True%}
            <div class="row">
                <!-- Device Info-->
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" colspan="2">Device Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in device_info.items() %}
                            <tr>{% if key == 'Device Location' %}
                                <th scope="row">{{ key }}</th>
                                <td> <a href="https://www.google.com/maps/?q={{ value }}" target="_blank">location
                                        map</a></td>
                                {% else %}
                                <th scope="row">{{ key }}</th>
                                <td> {{ value }}</td>
                            </tr>{% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <!-- Service Info-->
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" colspan="2">Service Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in service_info.items() %}
                            <tr>
                                <th scope="row">{{ key }}</th>
                                <td> {{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <!-- Gateway Info-->
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" colspan="2">Gateway Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for each in gateway_info.values() %} {% for key, value in each.items() %}
                            <tr>{% if key == 'Gateway Location' %}
                                <th scope="row">{{ key }}</th>
                                <td> <a href="https://www.google.com/maps/?q={{ value }}" target="_blank">location
                                        map</a></td>
                                {% else %}
                                <th scope="row">{{ key }}</th>
                                <td> {{ value }}</td>
                            </tr>{% endif %}
                            {% endfor %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <!-- Connection Info-->
                <div class="col">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" colspan="2">Connection Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for each in connection_info.values() %} {% for key, value in each.items() %}
                            <tr>
                                <th scope="row">{{ key }}</th>
                                <td> {{ value }}</td>
                            </tr>
                            {% endfor %} {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div> <!-- End container -->

{% endblock %}