{% extends 'base.html' %}

{% block head %}

<!-- JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>


<title> {{ title }} </title>


{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-12 p-0">
            <nav class="navbar navbar-dark d-block">
                <a class="navbar-brand" href="{{ url_for('index') }}">TTN Analysis Helper</a>
                <div class="form-group">
                    <input class="form-control btn btn-light" type="button" value="Go Back"
                        onclick="history.back(-1)" />
                </div>
                <div class="form-group">
                    <a name="visualize" id="visualize" class="form-control btn btn-secondary"
                        href="{{ url_for('visualize') }}">Visualizations</a>
                </div>
            </nav>
        </div>
        <div class="col-md-10 col-xs-12">
            <div class="row">
                <div class="col">
                    <p class="h4 mt-4 text-danger TEXT-UPPERCASE"> {{ response }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col px-0 py-2">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link {% if active == 'Device' %} {{ 'active' }} {% endif %}"
                                href="/visualizations/{{ 'Device' }}">Device
                                Graphs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active == 'Service' %} {{ 'active' }} {% endif %}"
                                href="/visualizations/{{ 'Service' }}">Service Graphs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active == 'Gateway' %} {{ 'active' }} {% endif %}"
                                href="/visualizations/{{ 'Gateway' }}">Gateway Graphs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if active == 'Connection' %} {{ 'active' }} {% endif %}"
                                href="/visualizations/{{ 'Connection' }}">Connection Graphs</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                {% for each in df_column_names %}
                                <th scope="col">{{ each }}</th>
                                {% endfor %}
                                {% if active != "" %}
                                <th scope="col">ACTION</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for each in df_table %}
                            <tr>
                                {% for item in each %}
                                <td>{{ item }}</td>
                                {% endfor %}
                                <td><a class="badge badge-primary" href="">UPDATE</a><br>
                                    <a class="badge badge-danger mt-1" href="">DELETE</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if active != "" %}
            <div class="row">
                <div class="dropdown col pt-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ graph_type }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/visualizations/{{ active }}/{{ 'line_graph' }}">Line Graph</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="/visualizations/{{ active }}/{{ 'map_graph' }}">Show Location</a>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row chart" id="graph">
                <script type="text/javascript">
                    var graphs = {{ plot | safe }};
                    Plotly.plot('graph', graphs, {});
                </script>
            </div>
            {% if show_maps == True %}
            <div class="row">
                <div class="embed-responsive embed-responsive-4by3 col-6">
                    <iframe class="embed-responsive-item"
                        src="https://maps.google.com/maps?output=embed&q={{ map_data }}" allowfullscreen>
                    </iframe>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}